@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.search:after, .search:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

 .sb-icon-search:before{
    display: none
 }
body, html { 
    font-size: 100%; padding: 0; margin: 0;  
    font-family: 'Poppins', sans-serif;
}

.mainHeader{
    height: 70px;
    background-color: #fff;
    width: 100%;
}

.mainHeader h2{
    line-height: 70px;
}

h3{
    font-size: 26px;
    color: #fff !important;
}

.subHeader{
    height: 45px;
    background-color: #4F4F4F
}

.search{
    height: 50px;
    width: 50%;
    float: right;
}
.logo {
    height: 50px;
    width: 50%;
    float: left;
    line-height: 50px;
}
.logo a{
    color: #4F4F4F
}

.logo a:hover{
    text-decoration: none
}

.subHeadder-items{
    display: flex;
    justify-content: space-around;
}
.sub-items{
    list-style: none;
    height: 100%;
}
.sub-items-link{
    color: #fff !important;
    line-height: 45px;
    cursor: pointer;
}
.sub-items-link:hover{
    color: #fff;
}

.footer{
    height:100%;
    background-color: #4F4F4F;
    width: 100%;
}
.mainFooter{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.getToKnow, .community{
    width: 25%;
    height: 100%;
    margin-left: 36px;
    display: flex;
    margin-top: 45px;
    text-align: left;
    flex-direction: column;
}

.subFooter{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 35px;
}

.border-line{
    border-top: 1px solid rgba(255,255,255);
}
.newLetter{
    flex-direction: column;
    text-align: center;
    width: 50%;
    height: 100%;
    margin-left: 16px;
    justify-content: center;
    margin-top: 45px;
}

.formStyle{
    margin-top: 30px;
}

.formStyle input[type="text"]{
    height: 50px;
    width: 90%;
    margin-bottom: 30px;
} 

.formStyle input[type="text"]:focus{
    outline: none;
}
.subcribe-button{
    border: none;
    font-size: 26px;
    font-weight: 300;
    color: #fff;
    background-color: #4F4F4F;
    width: 30%;
}
.subcribe-button:hover, .subcribe-button:focus{
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    cursor: pointer;
}
.subFooter{
    justify-content: space-between;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
}
.mainBody{
    width: 100%;
    background-color: #fff;
    flex-direction: row;
    display: flex;
}
.left{
    width: 75%;
    margin-top: 20px;
    margin-right: 16px;
    margin-bottom: 16px;
}
.blogWrapper{
    width: 100%;
}
.commentWrapper{
    width: 100%;
    margin-bottom: 16px;
}
.formWrapper input[type="text"], .formWrapper textarea[type="text"]{
    width: 90%;
    border: 1px solid #757B80;
    border-radius: 4px;
    margin-top: 16px;
    padding: 10px
}

.formWrapper input[type="text"]{
    height: 35px
}

.formWrapper textarea[type="text"]{
    height: 210px;
}

.formWrapper input[type="text"]:focus, .formWrapper textarea[type="text"]:focus{
    outline: none
}

.commentButton{
    margin-top: 16px;
    width: 125px;
    height: 28px;
    color: #fff;
    background-color: #FF7A2F;
    border: none;
    outline: none;
}
.commentHeader{
    width:90%;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}
.commentDate{
    font-size: 12px;
    font-style: italic;
    color: #757B80;
}


/* Side Bar */
.right{
    width: 25%;
    margin-bottom: 16px;
}
.sideBar{
    border: 1px solid #dee2e6;
    box-sizing: border-box;
    margin-top: 20px;
    padding: 16px;
    border-radius: .25rem;
}
.recentNew{
    border: 1px solid #757B80;
    box-sizing: border-box;
    margin-top: 20px;
    padding: 16px;
}
.recentNew li{
    list-style: none;
}
.recentNew li a, .sideBar a{
    color: #FF7A2F;
}
.recentNew li a:hover, .sideBar a:hover{
    color: #da6d0d;
}
.recentNew li span{
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    color: black;
}
.recentNew hr{
    margin: 5px
}

.card-body ul{
    padding-left: 0
}

.card-body li{
    list-style: none
}

/*Blog Post*/

.blogWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.blogPost{
    margin-bottom: 1.5rem!important;
    width: 46%;
    margin-left: 16px;
    height: 520px;
    border: 1px solid #dee2e6;
    padding-bottom: 16px;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.blogPost .cardImage{
    height: 200px;
}
.cardBody{
    flex: 1 1 auto;
    height: 45%;
    margin: 16px;
}
.cardTitle{
    margin-bottom: .75rem;
    font-size: 24px;
    font-weight: 600;
}

.postDate{
    font-size: 12px;
    font-style: italic;
    margin: 16px
}

.readMoreText, .categoryText{
    font-style: italic;;
    color: #FF7A2F;
    margin-right: 16px;
}
.readMoreText{
    float: right;
}
.search-mobile{
    display: none
}

@media screen and (max-width: 1024px){
    .mainFooter{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .getToKnow, .community, .newLetter{
        width: 100%;
        height: 100%;
        margin-left: 0
    }
    .formStyle input[type="text"]{
        width: 100%;
    }
    .mainBody{
        display: block
    }
    .left{
        width: 100%;
    }
    .formWrapper input[type="text"], .formWrapper textarea[type="text"], .commentHeader{
        width: 100%;
    }
    .right{
        display: block;
        width: 100%
    }
    .blogWrapper{
        display: block;
    }
    .blogPost{
        width: 100%;
        margin: 0;
        height: 100%
    } 
    .blogPost .cardImage{
        height: 100%;
    }
    .mainHeader{
        height: 100%;
        margin-bottom: 16px
    }
    .logo{
        height: auto;
        width: auto;
        float:none;
        text-align: center;
        margin: 16px;
    }
     .logo h1{
        font-size: 20px
    }
    .search{
        display: none
    }
    .search-mobile{
        display: block;
        position: relative;
    }
    .search-input-mobile{
        width: 100%;
        height: 40px
    }
    .sb-search-submit{
        height: 40px
        width: 40px
    }
    .sb-icon-search{
        border-radius: 0;
        line-height: 40px;
        width: 40px ;
        height: 40px ;
    }

    .sub-items-link {
        font-size: 14px;
    }
}